@import './assets/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  h1, .font-grotesk {
    font-family: "Space Grotesk", sans-serif;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }
}
